@CHARSET "UTF-8";

/* 
paging
.mytd {padding: 2 9 0 8; cursor:pointer; font-size: 9pt; color: #404040}

#PagingPosition { text-align:center; }

.td_link     {padding: 2 5 0 5; cursor:pointer; font-size: 9pt; color: #404040}
.td_nolink   {padding: 2 5 0 5; font-size: 9pt; color: #404040}

.mylink {color: #333333; text-decoration: none}
.mylink:link {color: #333333; text-decoration: none}
.mylink:visited {color: #333333; text-decoration: none}
.mylink:hover {color: #999999; text-decoration: underline}

#navi_table {margin:20px ;padding:10px ; margin:0 auto; }
 
*/

.paginate {text-align:center; color:black; padding-left:20px; min-width: 140px;}

.paginate .pre  {color: #333333; text-decoration: none}
.paginate .pre:link {color: #333333; text-decoration: none}
.paginate .pre:visited {color: #333333; text-decoration: none}
.paginate .pre:hover {color: #999999; text-decoration: underline}

.paginate A {padding: 2px 5px 0px 5px; cursor:pointer; font-size: 9pt; color: #404040}
.paginate strong {padding: 2px 5px 0px 5px; cursor:pointer; font-size: 10pt; color: #604040}

.paginate .next {color: #333333; text-decoration: none}
.paginate .next:link {color: #333333; text-decoration: none}
.paginate .next:visited {color: #333333; text-decoration: none}
.paginate .next:hover {color: #999999; text-decoration: underline}